@font-face {
    font-family:'Mingyung';
    src:url(../fonts/Mingyung.ttf);
}
/* title */
.title_bg {
    background:url(../images/bg.jpg) no-repeat;
    background-size: cover;
}
.title_bg .title {
    display:flex; flex-flow:column;
    align-items:center; padding:100px 0;
}
.title_bg .title .tag {
    font-size:1.333rem; letter-spacing:-0.04em;
    font-weight:700;
}
.title_bg .title h1 {
    font-family:'Mingyung';
    font-size:3.157rem; font-weight:-0.04em;
    text-align:center; line-height:85px;
    margin:30px 0 50px 0;
}
.title_bg .title h1 strong {
    font-family:'Mingyung';
    font-size:5rem; font-weight:-0.04em;
}
.title_bg .title h1 strong em {
    font-family:'Mingyung'; color:#fff;
    font-size:5rem; font-weight:-0.04em;

}
.title_bg .title .photo {}
.title_bg .title .photo img {width:100%;}
/* beach */
.beach {
    width:1200px; margin:0 auto;
    display:flex; flex-flow:row nowrap;
    justify-content: space-between;
    padding: 100px 0;
}
.beach .left {
    display:flex; flex-flow: column nowrap;
    justify-content: space-between;
}
.beach .left p {
    padding:20px; background:#ED7284;
    display:inline-block; color:#fff;
    border-radius:50px; font-size:1.333rem;
}
.beach .left h2 {
    font-family:'Mingyung'; font-size:5rem;
}
.beach .left .contents {}
.beach .left .contents li {
    font-size:1.333rem; line-height:50px;
    font-weight:500;
}
.beach .img {width:496px; height: 496px;}
.beach .img img {width:100%;}
/* price */
.price {
    display:flex; flex-flow:column nowrap;
    align-items:center;
    background:#EDEDED; padding:100px 0;
}
.price h1 {
    font-size:5rem; font-family:'Mingyung';
}
.price h1 img {
    width:85px; height:85px;
}
.price .time {
    font-size:1.333rem;
    text-align:center;
    padding:50px 0; line-height:40px;
}
.price p strong {
    font-weight: 500; color:#03C75A;
    font-size:1.333rem;
}
.price p em {
    font-weight:500; color:#FE800C;
    font-size:1.333rem;
}
.price .price_detail {
    width:1200px;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
}
.price .price_detail li {
    background:#fff;
    width:283px; height:506px;
    border-radius:30px;
}
.price .price_detail li p {
    text-align:center;
}
.price .price_detail li p img {
    height:100%; width:100%;
    border-radius:30px 30px 0 0;
}
.price .price_detail li .img {height:267px;}
.price .price_detail li .object {
    font-size:1.333rem; font-weight: 700;
    margin:38px 0 50px 0;
}
.price .price_detail li .discount {
    
}
.price .price_detail li .discount span {
    padding-bottom: 20px; font-size:1.333rem;
    display:inline-block; color: #555;;
}
.price .price_detail li .discount span:nth-child(1) {
    text-decoration:line-through; font-size: 1rem;
}
.price .price_detail li .discount em {
    font-weight:700; margin-left:20px;
}
/* info */
.info {
    padding:100px 0;
    background:url(../images/bg.jpg) no-repeat;
    background-size: cover;
    display:flex; flex-flow:column nowrap;
    align-items:center;
}
.info h2 {
    font-size: 5rem; font-family:'Mingyung';
}
.info p {}
.info p img {
    height:1800px; display:block;
}
/* attention */
.attention {
    background:#5CB9ED;
    padding:100px 0;
    display:flex; flex-flow:column nowrap;
    align-items:center;
}
.attention .title {
    display: flex; flex-flow:column nowrap;
    align-items:center; margin-bottom:157px;
}
.attention .title p {
    width:100px; height:100px;
}
.attention .title > p img {width:100%;}
.attention .title h2 {
    font-size: 5rem; font-family:'Mingyung';
}
.attention .all {
    display:flex; flex-flow: column nowrap;
    align-items:center; justify-content: center;
    width:1440px;
}
.attention .all .content1:nth-child(odd) {
    background:#C0F7FF; padding:50px 300px;
}
.attention .all .content1 {
    display:flex; flex-flow:row nowrap;
    align-items:center; justify-content:space-between;
    padding:50px 0;
}
.attention .all .content1 .img {
    width:400px; height:400px;
}
.attention .all .content1 .img img {border-radius:50%;}
.attention .all .content1 .right h3 {
    font-size:1.777rem; font-weight: 700;
}
.attention .all .content1 .right p {
    font-size:1.333rem; font-weight: 500;
    text-align: center; margin-top:50px;
}
/* quiz */
.quiz {
    width:1200px;
    display:flex; flex-flow:column nowrap;
    align-items: center; padding:100px 0;
}
.quiz h2 {
    font-family:'Mingyung'; font-size:5rem;
    margin-bottom:82px;
}
.quiz h3 {
    font-size:1.777rem; margin-bottom:82px;
}
.quiz h3 em {
    font-size:1.777rem;
    color:#FE800C;
}
.quiz #quiz_frm {}
.quiz #quiz_frm fieldset {}
.quiz #quiz_frm fieldset ul {
    margin-left:320px;
}
.quiz #quiz_frm fieldset ul li {
    text-align:left; margin-bottom:50px;
}
.quiz #quiz_frm fieldset ul li label {}
.quiz #quiz_frm fieldset ul li label input {}
.quiz #quiz_frm fieldset ul li label input span {}
.quiz #quiz_frm fieldset .quiz_btn {
    width:880px; padding:30px 0;
    border-radius:50px; background:#FE800C;
    margin-top:32px;
}
/* pension */
.pension {
    background:#ededed;
    text-align: center;
    padding:100px 0;
}
.pension > p {
    font-size:1.777rem
}
.pension p img {
}
.pension h2 {
    font-family:'Mingyung';
    font-size: 5rem;
    margin-bottom:50px;
}
.pension h2 em {
    font-family:'Mingyung';
    font-size: 5rem; color:#FE800C;
}
.pension .content {width:1200px;}
.pension .content ul {
    display:flex; flex-flow:row wrap;
    align-items:center; justify-content: space-around;
}
.pension .content ul li {
    width:500px; height:600px;
    background:#fff; border-radius:250px 250px 0 0;
}
.pension .content ul li:nth-child(3),
.pension .content ul li:nth-child(4) {margin-top: 50px;}
.pension .content ul li img {
    width: 500px; height: 500px;
    border-radius:250px 250px 0 0;
}
.pension .content ul li p {
    text-align:left; margin:21px 0 0 10px;
    font-size:1.333rem;
}
.pension .content ul li h3 {
    text-align:right; margin:0 10px 21px 0;
    font-size:1.333rem; color: #FE800C;
}
